<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WebApplication1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="HADS18_usuariosConnectionString" connectionString="Data Source=tcp:hads-18.database.windows.net,1433;Initial Catalog=HADS18_usuarios;Persist Security Info=True;User ID=HADS18@hads-18;Password=4QYzSiq7" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="Inicio.aspx" name="ASPXAUTH" protection="All" timeout="30" />
    </authentication>  
    
    <customErrors mode="Off" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <pages controlRenderingCompatibilityVersion="4.0"><controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls></pages>
  

  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <location path="profe">
    <system.web>
      <authorization>
        <allow users="profesor,vadillo" />
        <deny users="alumno" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="ExportarTareas.aspx">
    <system.web>
      <authorization>
      <allow users="vadillo"></allow>
      <deny users="alumno,profesor"></deny>
      <deny users="?"></deny>
      </authorization>
    </system.web>
  </location>

  <location path="alumno">
    <system.web>
      <authorization>
        <allow users="profesor,vadillo,alumno" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="admin.aspx">
    <system.web>
      <authorization>
        <allow users="admin"></allow>
        <deny users="alumno,profesor,vadillo" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
   
  <applicationSettings>
    <WebApplication1.My.MySettings>
      <setting name="WebApplication1_UsersEhu_Matriculas" serializeAs="String">
        <value>http://ehusw.es/jav/ServiciosWeb/comprobarmatricula.php</value>
      </setting>
    </WebApplication1.My.MySettings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MediaHorasSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:49299/MediaHoras.asmx" binding="basicHttpBinding"
        bindingConfiguration="MediaHorasSoap" contract="ServiceReference1.MediaHorasSoap"
        name="MediaHorasSoap" />
    </client>
  </system.serviceModel>
</configuration>